language: node_js
node_js:
  - '6'
services:
  - postgresql
env:
  - NODE_ENV=test
  - APP_SECRET=foobar
addons:
  postgresql: "9.6"
  apt:
    packages:
      - postgresql-9.6-postgis-2.3

before_script:
  - psql -c 'create database tofix_test;' -U postgres
  - psql -U postgres -d tofix_test -c "create extension postgis;"
